# Ignore IntelliJ/IDEA index files
.idx/

.komikku/
suwayomi-data/
env_folder/
yarn.lock
node_modules/.yarn-integrity
devbox.lock
devbox.json
Suwayomi-WebUI/.yarnrc.yml
Suwayomi-WebUI/package.json
Suwayomi-WebUI/package.json
Suwayomi-WebUI/yarn.lock
Suwayomi-WebUI/package.json
Suwayomi-WebUI/yarn.lock
.devbox/**
Suwayomi-Server/.kiro/**